speciality
eccentric
hello
int_hello
segfault_ex
no_segfault_ex
test_ll_cycle
lfsr
bit_ops
vector-test
.DS_Store
/Users/admin/ABC/.DS_Store
.vscode
valgrind-macos
interactive_hello
segfault_ex2
no_segfault_ex2
*.save
*.dSYM
*.o
*.swp
